<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="syncWcfUrl" value="http://localhost:8000/Sync/" />
    <add key="syncFrequency" value="5" />
    <add key="attachmentSync" value="\\server01\Attachments" />
    <add key="attachments" value="WOF,Encroachment,Gas Leaks,TFIR,VPI,Locator Device" />
  </appSettings>
  
  

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\MobileMaps\PNG\ReplicasQAV\Logging\PNG.Mobile.log" />
      <param name="Threshold" value="DEBUG" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="500KB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="*************** Application Start: %date %newline" type="log4net.Util.PatternString" />
        <footer value="*************** Application End: %date %newline%newline" type="log4net.Util.PatternString" />
        <param name="ConversionPattern" value="%d %-5p - %m%n" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <!-- Specify the level for some specific categories -->
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>